<% @words = Word.all %>

<style type="text/css">
  html, body, .swiper-container, .swiper-wrapper, .swiper-slide {
    height: 100%;
  } 
  .question {
    padding: 30px 5px;
    height: 100%;
  }
</style>

<script type="text/javascript">
  $(document).ready(function(){ 
    window.onload = function() { 
      var mySwiper = new Swiper('.swiper-container',{ 
        pagination: '.pagination', 
        loop:true, 
        autoplay:3000, 
        paginationClickable:true, 
        calculateHeight:true, 
        touchRatio:0.6,
      });  
    }
  });

  function answer(text) {
    $('#answer').html("<h2>" + text + "</h2>")
    $('#myModal').modal('show')
  }
</script>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <% @words.each do |w| %>
      <div class="swiper-slide text-center">
        <div class="col-xs-10 col-xs-offset-1 text-center question">
          <h1><%= w.english %></h1>
          <p><input type="button" value="check!" class="btn btn-danger" onclick="answer('<%= w.japanese %>');"></input></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="pagination">&nbsp;</div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body">
    <div id="answer"></div>
  </div>
</div>
